/* Common */
/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* */
html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

.text-white {
    color: white !important;
}

.text-center {
    text-align: center !important;
}

.pull-right {
    float: right !important;
}

.btn {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 8px 16px;
    display: inline-block;
    margin-top: 16px;
    border: none;
}

.btn:hover {
    color: black;
    background-color: #ccc;
    cursor: pointer;
}

.clear {
    clear: both;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col-third {
    width: 33.333333%;
}

.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}

/* main */


/* header start */

#header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 46px;
    background-color: #000;
    z-index: 1;
    overflow: hidden;
}

#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none;
    
}

#nav>li {
    display: inline-block;
}

#nav li {
    /* display: inline-block; */
    position: relative;
}

#nav>li>a {
    color: white;
    text-transform: uppercase;
}

#nav li a {

    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
     /* block takes up the whole width, display-block formatted as an inline element  */
}

#nav > li:hover > a, #nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
}


#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.25);
    min-width: 160px;
}

#nav li:hover .subnav {
    display: inline-block;
}

#nav .subnav a{ 
    color: black;
    padding: 0 12px;
    line-height: 38px;
}

.nav-arrow-down {
    font-size: 14px;
}

#header .mobile-menu-btn, 
#header .search-btn {
    float: right;
    padding: 0 21px;
    
}

#header .mobile-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .menu-icon, 
#header .search-icon {
    font-size: 20px;
    line-height: 46px;
    color: #fff;
}
 
#header .search-btn:hover {
    cursor: pointer;
    background-color: #f44336;
}

#header .mobile-menu-btn:hover {
    background-color: #ccc;
}

#header .mobile-menu-btn:hover .menu-icon{
    color: #000;
}

/* slider */

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    /* height = 1 / 2 weight */
    background: url('/assets/img/slider/chicago_tour.jpg') top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    bottom: 47px;
    color: #fff;
    /* option 1 to align center */
    /* left: 50%;
    transform: translateX(-50%); */

    /* option 2 */
    width: 100%;

    /* option 3 */
    /* left: 0;
    right: 0; */

    text-align: center;
}

#slider .text-heading {
    font-weight: 500px;
    font-size: 24px;
}

#slider .text-description {
    font-size: 15px;
    margin-top: 25px;
}

/* content */

#content .content-section {
    width: 800px;
    max-width: 100%;
    padding: 64px 0 112px; 
    margin-left: auto;
    margin-right: auto;
    
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading {
    text-align: center;
    font-size: 30px;
    font-weight: 500; 
    letter-spacing: 4px;
}

#content .section-sub-heading {
    text-align: center;
    margin-top: 25px;
    font-size: 15px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-content {
    text-align: justify;
    margin-top: 15px;
    font-size: 15px;
    line-height: 1.4;
}

#content .member-list {
    margin-top: 47px;
}

/* #content .member-item {
    float: left;
    width: calc(100% / 3); 
} */

#content .member-name {
    font-size: 15px;
    
}

#content .member-img {
    width: 154px;
    height: 154px;
    margin-top: 15px;
    border-radius: 5px;
}

#content .tour-section {
    background-color: #000;
}

#content .ticket-list {
    background-color: white;
    margin-top: 25px;
}

#content .ticket-list li{
    color: #757575;
    font-size: 15px;
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
    list-style-type: none;
}

.ticket-list .sold-out {
    background-color: #f44336;
    color: white;
    padding: 3px 4px;
    margin-left: 16px;
    
}

.ticket-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: white;
    border-radius: 50px;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
    /* just use margin is nagative value when have float, if not it not affect */
}

.place-list {
    /* margin: 32px -8px 48px; */
    margin-top: 32px;
    
}

/* .place-list .place-item {
    float: left;
    width: 33.3333333%;
    padding: 0 8px;
    
} */

.place-image {
    width: 100%;
    display: block;
}

.place-image:hover {
    opacity: 0.6;
}

.place-content {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.place-heading {
    padding-top: 15px;
    font-size: 15px;
    font-weight: 600;
}

.place-time {
    margin-top: 15px;
    opacity: 0.6;
}

.place-desc {
    margin-top: 15px;
    line-height: 1.4;
}

.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: #ccc 1px solid;
    width: 100%;
}

/* .contact-form .form-submit-btn {
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
    padding: 10px 16px;
    float: right;
} */

/* map */
.map-section img{
    width: 100%;
}

/* footer */


#footer {
    padding: 64px 16px;
    text-align: center;
    
}

#footer .social-list {
    font-size: 24px;
}

#footer .social-list a{
    text-decoration: none;
    color:rgb(0, 0, 0, 0.6);
}

#footer .copy-right a:hover,
#footer .social-list a:hover{
    text-decoration: none;
    color:rgb(0, 0, 0, 0.4);
    cursor: pointer;
}

#footer .copy-right {
    margin-top: 15px;
    color:rgb(0, 0, 0, 0.6);
}

#footer .copy-right a{
    color:rgb(0, 0, 0, 0.6);
}

/* modal */

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0, 0.4);/* call: overlay */
    align-items: center;
    justify-content: center;
    display: none;
}

.modal.open {
    display: flex;
}

.modal-container {
    background-color: #fff;
    width: 900px;
    min-height: 200px;
    max-width: calc(100% - 32px);
    /* when we reponsity  width < 900 */
    position: relative;
    animation: modalFadeIn ease .5s;
}

.modal-header {
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.modal-margin-icon {
    margin-right: 16px;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.7;
}

.modal-close:hover {
    opacity: 1;
}

.modal-body {
    padding: 16px;
}

.label-modal {
    display: block;
    /* if display is inline-block, it's in a same line, use block to println */
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input {
    border: solid 1px #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}

#buy-tickets {
    text-transform: uppercase;
    font-size: 15px;
    background-color: #009688;
    width: 100%;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border: none;
}

#buy-tickets:hover {
    opacity: 0.8;
}

.modal-footer {
    padding: 16px;
    text-align: right;
}

.modal-footer a {
    color: #2196F3;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-150px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}