/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* */
html {
    font-family: Arial, Helvetica, sans-serif;
}

.clear {
    clear: both;
}

#main {

}

#header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 46px;
    background-color: #000;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none;
    
}

#nav>li {
    display: inline-block;
}

#nav li {
    /* display: inline-block; */
    position: relative;
}

#nav>li>a {
    color: white;
    text-transform: uppercase;
}

#nav li a {

    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
     /* block takes up the whole width, display-block formatted as an inline element  */
}

#nav > li:hover > a, #nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
}


#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.25);
    min-width: 160px;
}

#nav li:hover .subnav {
    display: inline-block;
}

#nav .subnav a{ 
    color: black;
    padding: 0 12px;
    line-height: 38px;
}

.nav-arrow-down {
    font-size: 14px;
}

#header .search-btn {
    float: right;
    padding: 0 21px;
    
}

#header .search-icon {
    font-size: 20px;
    line-height: 46px;
    color: #fff;
}

#header .search-btn:hover {
    cursor: pointer;
    background-color: #f44336;
}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    /* height = 1 / 2 weight */
    background: url('/assets/img/slider/chicago_tour.jpg') top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    bottom: 47px;
    color: #fff;
    /* option 1 to align center */
    /* left: 50%;
    transform: translateX(-50%); */

    /* option 2 */
    width: 100%;

    /* option 3 */
    /* left: 0;
    right: 0; */

    text-align: center;
}

#slider .text-heading {
    font-weight: 500px;
    font-size: 24px;
}

#slider .text-description {
    font-size: 15px;
    margin-top: 25px;
}


#content {

}


#content .content-section {
    width: 800px;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading {
    text-align: center;
    font-size: 30px;
    font-weight: 500; 
    letter-spacing: 4px;
}

#content .section-sub-heading {
    text-align: center;
    margin-top: 25px;
    font-size: 15px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-content {
    text-align: justify;
    margin-top: 15px;
    font-size: 15px;
    line-height: 1.4;
}

#content .member-list {
    margin-top: 47px;
    text-align: center;
}

#content .member-item {
    float: left;
    width: calc(100% / 3);
}

#content .member-name {
    font-size: 15px;
    
}

#content .member-img {
    width: 154px;
    height: 154px;
    margin-top: 15px;
    border-radius: 5px;
}

#footer {

}